
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
/* navbar */

nav {
    margin: 0 1rem;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    background-color: #193e2e;
    color: #000000;
    border-radius: 10px;
    margin: 0 0 2rem 0;
    text-align: center;
}

nav a:hover {
    background-color: #008077;
    color: #ffffff;
}

nav img {
    max-width: 200px;
}
.logo{
    box-shadow: 5px 5px 5px 5px  #C68089;
    height: 100px;
}
nav .logo a {
    background-color: transparent;
    margin: 0;
    
}
@media (min-width: 550px) {
    nav {
        margin-left: 0;
    }
    nav ul {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: center;
    }
    nav a {
        margin: 0 0 3rem 0;
    }
    .logo {
        flex-basis: 100%;
        text-align: center;
    }
}
@media (min-width: 900px) {
    nav ul {
        justify-content: flex-start;
    }
    nav a {
        margin-top: 5rem;
    }
    .logo {
        flex-basis: auto;
        margin-right: auto;
    }
    .flexrow2 figure {
        flex-basis: 20%;
        grid-template-rows: 2fr 0.2fr;
    }
}